body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    background: #111;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    max-width: 600px;
    margin: 0 auto 30px;
    line-height: 1.6;
    color: #ccc;
}

.hero button {
    background: #28a745;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background: #218838;
}

.features {
    padding: 60px 20px;
    text-align: center;
}

.features h2 {
    maring-bottom: 40px;
}

.features-card {
    display: flex;
    gap 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    background: #f4f4f4;
    padding: 25px;
    border-radius: 8px;
    flex: 1;
}

.card h3 {
    margin-bottom: 10px;
}

@media(max-width: 768px) {
    .features-card {
        flex-direction: column;
    }
}